#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #629fb3;

}

/* ContactRow.css */
.row-style {
  background: #000;
  color: #fff;
  cursor: pointer;

  
}

.row-style:hover {
  border: 4px solid #653434;
  background: #843434;
  color: #fff;
  cursor: pointer;
  
}

.name-style {
  border: 8px solid #562e2e;
  background: #000;
  color: #fff;
}

.phone-style {
  border: 8px solid #562e2e;
  background: #000;
  color: #fff;
}

.email-style {
  border: 8px solid #562e2e;
  background: #000;
  color: #fff;
}


.heading-style {
  border: 8px solid #9c6161;
  background: #000;
  color: #fff;
}


.selected-heading {
  border: 8px solid #a54e4e;
  background: #000;
  color: #fff;
}


@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  text-align: top;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  background-color: #629fb3;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #256482;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #7a2c3b;
}
button:focus,
button:focus-visible {
  outline: 8px auto -webkit-focus-ring-color;
}


